[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
statsmodels = "*"
openpyxl = "*"
"plotly.express" = "*"
ipykernel = "*"
notebook = "*"
scikit-learn = "*"
lxml = "*"
html5lib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
